*{
    font-size: .94em;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.input label{
    display: block;
    font-weight: bold;
}

.input{
    margin-bottom: 10px;
}

.float{
    float: left;
}