*{
    font-size: .94em;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.input label{
    display: table;
    width: auto;
    padding-right: 18px;
    font-weight: bold;
}

.input label.loading{
    background: transparent right url(../img/loading.gif) no-repeat;
    background-size: 15px 15px;
}

.input{
    margin-bottom: 10px;
}

.float{
    float: left;
}