.alert{
    padding: 10px 5px;
}

.error{
    background-color: red;
    color: #fff;
    font-weight: bold;
}

body {
    min-width: 400px;
    overflow-x: hidden;
}


#IssueDescription{
    height: 120px;
    max-height: 250px;
}

#RelTempoTrabalho table,
#RelTempoTrabalho div{
    margin-bottom: 15px;
}

#RelTempoTrabalho table td{
    width: 100px;
}

#RelTempoTrabalho table caption{
    font-weight: bold;
}

#RelTempoTrabalho table tfoot{
    font-style: italic;
}

#RelTempoTrabalho table tr.red td{
    background-color: red;
}

#RelTempoTrabalho table tr.green td{
    background-color: green;
}